@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.caixa {
    border: 1px solid black;
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item-caixa {
    border: 1px solid red;
}

.grow {
    flex-grow: 1;
}

.user-item {
    margin-bottom: 4px;
    display: flex;
    padding: 6px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 400px;
}

.user-item-avatar {
    width: 50px;
}

.user-item-avatar img {
    width: 100%;
    border-radius: 20px;
}

.user-item-info {
    font-size: 10pt;
    flex-grow: 1;
}

.user-item-info .title {
    font-weight: 600;
    font-family: "Inter";
}

.user-item-info .email {
    font-weight: 400;
    font-family: "Inter";
}

.user-item-info .username {
    font-weight: 200;
    font-family: "Inter";
}